#list-dialog-wrapper {
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-position: center;
  md-content {
    background: none !important;
  }
  md-tabs md-tabs-wrapper {
    background-color: #212121;
    md-ink-bar {
      background-color: #fff;
    }
  }
  md-toolbar {
    transition: background-color .3s;
  }
  .search-field {
    padding-top: 24px;
  }
  .flat-background {
    background-color: #212121;
  }
  .filter-wrapper {
    background: #212121;
    border: none;
    .md-subhead {
      padding-top: 8px;
      padding-left: 8px;
    }
  }
}