@import 'https://fonts.googleapis.com/css?family=Pacifico|Lato|Quattrocento+Sans|Varela+Round';
html {
  font-family: 'Quattrocento Sans', sans-serif;
}
html, body, root-el {
  display: block;
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
root-el {
  position: fixed;
  overflow: hidden;
}
root-el {
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-position: center;
}