md-bottom-sheet.filter-wrapper
  .md-subhead|SORT BY
  md-radio-group(ng-model="plop")
    md-list
      md-list-item
        md-radio-button.md-primary(
        ng-value="'alo'")|Price
      md-list-item
        md-radio-button.md-primary(
        ng-value="'aloh'")|Distance
      md-list-item
        md-radio-button.md-primary(
        ng-value="'alh'")|Rating
  .md-subhead|FLAGS
  md-list
    md-list-item
      md-checkbox|Wifi
    md-list-item
      md-checkbox|Parking
    md-list-item
      md-checkbox|Alcohol