chat-card {
  outline: none;
  .cardWrapper {
    width: 160px;
//    border: 1px solid #E0E0E0;
    border-radius: 1em;
    overflow: hidden;
    margin: .5em;
    background: #fff;
  }
  .cardWrapper:active {
    opacity: .75;
  }
  .cardWrapper.hasAction:active {
    opacity: 1;
  }
  .imageWrapper {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 120px;
  }
  h1 {
    margin: .75em;
    font-size: 1em;
    font-weight: 600;
    color: #000;
  }
  .action {
    padding: .7em;
    border-top: 1px solid #E0E0E0;
    color: #388E3C;
    text-align: center;
    outline: none;
  }
  .action.disabled {
    display: none;
  }
  .action:active {
    opacity: .5;
  }
}